notifications:
  email: false

language: cpp

compiler:
  - gcc
  - clang

before_script:
  - mkdir build
  - cd build
  - cmake -DCMAKE_BUILD_TYPE=Release -DUSE_TESTS=ON ..

script: make && make test